body {
  background-image: url("./img/potatoBG.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: Helvetica, Verdana, Arial, sans-serif;
  font-size: 12pt;
  font-weight: normal;
  font-style: normal;
}

h1 {
  color: black;
  font-size: 32pt;
  font-weight: normal;
  font-style: normal;
}

h2 {
  color: black;
  font-size: 18pt;
  font-weight: normal;
  font-style: normal;
}

#top, #middle, #bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#middle {
  flex-wrap: wrap;
  padding-bottom: 20px;
}

#consoleButtons {
  margin:4px;
  flex-direction: column;
  display: flex;
}

input:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

label, footer p {
  display: flex;
  align-items: center;
  justify-content: center;
}

table {
  border: 1px solid;
  border-collapse: collapse;
  background-color: white;
}

table th, table td {
  text-align: left;
  padding: 5px;
  border: 1px solid;
  background-color: white;
}

table#memTable {
  font-size: 12px;
}

table#memTable th, table#memTable td {
  font-size: 12px;
}

.fryLabel {
  height: 60px;
  aspect-ratio: 688/158;
  background-image: url("./img/frenchFry.png");
  background-size: cover;
  background-color: transparent;
  border: none;
  font-size: 24px;
  color: #181818;
  text-align: center;
}

#consoleFrame {
  margin:4px;
  width:560px;
  height:510px;
  overflow-y:scroll;
}

#console {
  width:1000px;
  flex-direction: row;
}

#display {
  background-color:#DFDBC3;
  border: 2px solid red;
  cursor: default;
}

#cpuDisplay {
  width: 450px;
}

#pcbDisplay {
  width: 550px;
}

#memoryDisplay {
  width: 900px;
}

.spin-box {
  display: inline-flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  background-color: #f7f7f7;
}

.spin-box button {
  background-color: #007bff;
  border: none;
  color: white;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.spin-box button:focus {
  outline: none;
}

.spin-box button:hover {
  background-color: #0056b3;
}

.spin-box input {
  width: 50px;
  padding: 5px;
  text-align: center;
  border: none;
  font-size: 16px;
  background-color: white;
  color: #333;
  -moz-appearance: textfield;
}

.spin-box input::-webkit-outer-spin-button,
.spin-box input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.spin-box input[type="number"] {
  -moz-appearance: textfield;
}

.spin-box input:focus {
  outline: none;
}

#kernelLog {
  width: 800px;
}

#hostLog {
  width: 610px;
}

#userProgramInput {
  width: 400px;
}

.potato {
  background-image: url('./img/potato.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  aspect-ratio: 848/616;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.footerText {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 8pt;
  text-align: center;
}

header {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  padding: 0 20px;
  height: 60px;
}

header h1, header h2 {
  margin: 0;
}

footer {
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

footer p {
  padding: 15px;
  border: 3px black solid;
  border-radius: 10px;
}

footer .fryLabel {
  width: 500px;
  padding: 35px;
  text-align: center;
}